.tanar-main-wrapper {
  display: flex; /*boxként kezeli őket*/
  flex-direction: row;  /*ettől egymás mellett lesznek, ha meg alatt akarom akk: column*/
  gap: 20px; /*két box között legyen rés*/
  height: auto;
  width: auto;
  justify-content: center; /*középre teszi az elemeket*/
}

.tanar-main-box {
  height: 200px; /*gombok mérete*/
  width: 40%;
  padding: 10px; /*padding=kitömés,belso margo....margin=kulso margo lenne*/
  border-radius: 16px; /*lekerekiti a sarkokat*/
  background-color: var(--element-color);  /*ezt balazs a sitestyle cssből szedte*/
  border: 3px solid var(--element-color); /*keret, csak ua mint a háttérszin, azért kell h ne mozogjon ha raviszem a kurzort, mert ott ugye van keret és arrébb kuldené 0.000001 mm-el XD*/
  cursor: pointer; /*emberke kéz*/
  pointer-events: all; /*gombként néz ki*/
  display: flex;
  justify-content: center;  /* vízszintesen középre */
  align-items: center;      /* függőlegesen középre */
  text-align: center; /*ez már felesleges, elsőtte lévő kettő elég de m1*/
}


.tanar-main-box:hover, .tanar-main-box2:hover { /*amikor az egér rajta van-box*/
  background-color: rgb(165, 129, 78);  /*ezt balazs a sitestyle cssből szedte*/
  border: 3px solid rgb(56, 62, 66); /*keret ha rajta van a kurzor*/
}

.tanar-main-box:hover p, .tanar-main-box2:hover p { /*amikor az egér rajta van-boxba a szöveg*/
  color: white;
}

.tanar-main-box p, .tanar-main-box2 p { /*ezen az osztalyon belul a p-s részt formázza*/
  font-size: 24px;
  font-weight: bold;
}

.tanar-main-wrapper2{
  display: flex; /*boxként kezeli őket*/
  flex-direction: row;  /*ettől egymás mellett lesznek, ha meg alatt akarom akk: column*/
  gap: 20px; /*két box között legyen rés*/
  height: auto;
  width: auto;
  justify-content: center; /*középre teszi az elemeket*/
}

.tanar-main-box2{
  height: 100px; /*gombok mérete*/
  width: 40%;
  padding: 10px; /*padding=kitömés,belso margo....margin=kulso margo lenne*/
  border-radius: 16px; /*lekerekiti a sarkokat*/
  background-color: var(--element-color);  /*ezt balazs a sitestyle cssből szedte*/
  border: 3px solid var(--element-color); /*keret, csak ua mint a háttérszin, azért kell h ne mozogjon ha raviszem a kurzort, mert ott ugye van keret és arrébb kuldené 0.000001 mm-el XD*/
  cursor: pointer; /*emberke kéz*/
  pointer-events: all; /*gombként néz ki*/
  margin-top: 10px; /*box felett is hagyjon ki egy kis helyet*/
  display: flex;
  justify-content: center;  /* vízszintesen középre */
  align-items: center;      /* függőlegesen középre */
  text-align: center; /*ez már felesleges, elsőtte lévő kettő elég de m1*/
}

#main-title{
  text-align: center;
  color: var(--hover-color);
}