:root {
    --bg-color: rgb(208, 176, 132);
    --element-color: rgb(242, 210, 166);
    --header-color: rgb(74, 58, 36);
    --hover-color: rgb(98, 74, 40);
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--bg-color);
}

.login-wrapper p {
    font-size: 20px; /* Betűméret */
    font-weight: bold; /* Félkövér */
    text-align: center; /* Középre igazítás */
    color: rgb(98, 74, 40); /* Szöveg színe */
    margin-top: 10px; /* Felső margó */
    margin-bottom: 10px; /* Alsó margó */
}

.login-label {
    margin-bottom: 1px; /* Kevesebb hely a címke és az input között */
    font-family: Arial, sans-serif;
    font-size: 16px;
}

label[for="password"] {
    margin-top: 12px;  /* Távolabb tolja a "Felhasználónév" mezőtől */
}

input {
    margin-top: 1px; /* Minimalizált távolság a label után */
    padding: 2px; /* Ha túl nagy a belső térköz, ezt is csökkentheted */
    border: 1.6px solid rgb(98, 74, 40);    /*input mező kerete*/
    border-radius: 10px; /*lekerekiti az input mezo sarkait*/
}


.login-wrapper {
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*border: 5px solid red;*/
}

.logo {
    height: 180px;
    background: transparent;
    margin-bottom: 20px;
    /*border: 5px solid red;*/
}

.login-container {
    height: auto;
    width: 30%;
    margin: 0 auto;
    background: var(--element-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container > h1 {
    padding-top: 10px;
    font-size: 24px;
}

.login-element {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: stretch;
    /*border: 5px solid red;*/
}

.login-button {

    width: 90%;
    margin-top: 60px;
    margin-bottom: 10px;
    padding: 10px;
    cursor: pointer;
    background-color: rgb(152, 128, 94);
    border: none;
    border-radius: 5px;
    font-size: 16px;

}

.login-inputfield {
    width: 90%;
    margin-top: 10px;
    background-color: rgb(255, 255, 255);
}

button:hover {
    background-color: var(--hover-color);
    color: white;
}

.nav-bar {
    display: flex;
    width: 100%;
    height: auto;
    border: 2px; /*, dotted, white;  /*látom hogy hol van a div*/
    align-items: center;
    background-color: rgb(247, 222, 184);
}

#gyak {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*font-family: Arial, sans-serif;*/
    color: rgb(98, 74, 40);
    text-align: center;
}

.dropdown-container {
    border: 2px;
    flex-direction: column;
}

.legordulo-gombok {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 20px;
    /*display: flex;*/
    height: auto;
    background-color: rgb(147, 115, 70);
    margin: 0;
}

.important-text {
    color: rgb(74, 58, 36);
}

